<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>dsm2.webtools</display-name>
  <servlet>
    <servlet-name>list</servlet-name>
    <servlet-class>dsm2.server.DSSDirectoryServlet</servlet-class>
    <init-param>
      <description>Name of directory</description>
      <param-name>default_dir</param-name>
      <param-value>c:/dss-data</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>dsm2echo</servlet-name>
    <servlet-class>dsm2.server.DSM2EchoFileServlet</servlet-class>
    <init-param>
      <description>Name of directory</description>
      <param-name>default_dir</param-name>
      <param-value>c:/dss-data</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>dsm2animconfig</servlet-name>
    <servlet-class>dsm2.server.DSM2AnimConfigServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>h5list</servlet-name>
    <servlet-class>dsm2.server.H5DirectoryServlet</servlet-class>
    <init-param>
      <description>Name of directory</description>
      <param-name>default_dir</param-name>
      <param-value>c:/h5-data</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>catalog</servlet-name>
    <servlet-class>dsm2.server.DSSCatalogServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>h5data</servlet-name>
    <servlet-class>dsm2.server.H5DataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>h5slice</servlet-name>
    <servlet-class>dsm2.server.H5TimeSliceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>h5info</servlet-name>
    <servlet-class>dsm2.server.H5FileInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>h5avgslice</servlet-name>
    <servlet-class>dsm2.server.H5TimeAvgSliceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>h5catalog</servlet-name>
    <servlet-class>dsm2.server.H5CatalogServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>data</servlet-name>
    <servlet-class>dsm2.server.DSSDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>catalog</servlet-name>
    <url-pattern>/catalog/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>data</servlet-name>
    <url-pattern>/data/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>h5catalog</servlet-name>
    <url-pattern>/h5catalog/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>h5data</servlet-name>
    <url-pattern>/h5data/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>h5slice</servlet-name>
    <url-pattern>/h5slice/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>h5info</servlet-name>
    <url-pattern>/h5info/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>h5avgslice</servlet-name>
    <url-pattern>/h5avgslice/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>list</servlet-name>
    <url-pattern>/list/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>h5list</servlet-name>
    <url-pattern>/h5list/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dsm2echo</servlet-name>
    <url-pattern>/dsm2echo/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dsm2animconfig</servlet-name>
    <url-pattern>/dsm2animconfig/*</url-pattern>
  </servlet-mapping></web-app>